{% load static %} 

<div class="modal fade" id="chart-modal" tabindex="-1">
    <div class="modal-dialog modal-xl" id="modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chart-modal-label">Chart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="chart-modal-body">
                <canvas id="chart-canvas" style="min-width:100%;min-height:100%;"></canvas>
                <a id="chart-download" style="visibility:hidden">
                <button type="button" class="btn btn-primary float-end">Download</button>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="list-modal" tabindex="-1">
    <div class="modal-dialog modal-xl" id="list-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="list-modal-label">Chart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="list-modal-body" style="height: 80vh; overflow-y: auto">
                <div id="list-canvas" style="min-width:100%;min-height:100%;"></div>
                <!-- <a id="load-btn"> -->
                <!-- <button type="button" id="load-btn" class="btn btn-primary float-middle">Load more</button> -->
            <!-- </a> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="county-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" id="county-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="county-modal-label">Chart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="county-modal-body" style="overflow-x: auto">
                <div id="county-canvas" style="min-width:100%;min-height:100%;">
                    <img src="{% static 'images/amtskort_not_from_teachers.gif' %}">
                    <div id="county-positions"></div>
                    <!-- <div style="position: absolute; top: 136px; left: 316px; font-size: 18px;">Works</div> -->
                </div>
                
                <!-- <a id="load-btn"> -->
                <!-- <button type="button" id="load-btn" class="btn btn-primary float-middle">Load more</button> -->
            <!-- </a> -->
            </div>
        </div>
    </div>
</div>