<div class="mt-3">
    <h3>Grafer</h3>
</div>
<div class="card mb-1">
    <!--choose x variable-->
    <div class="row g-0 border-bottom">
        <div class="col-3 border-end">
            <div class="card-body">
            Vælg en X variabel
            </div>
        </div>
        <div class="col-9">
            <div class="card-body" id="choose-x-variable">
                <!-- <div style="display:flex"> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="gender-x" value="gender">
                        <label class="form-check-label" for="gender-x">Køn</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="status-x" value="status">
                        <label class="form-check-label" for="status-x">Ægteskabelig status</label>
                    </div> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="migrant-x" value="migrant">
                        <label class="form-check-label" for="migrant">Migranttype</label>
                    </div> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="location-x" value="location">
                        <label class="form-check-label" for="location-x">Bostedstype</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="county-x" value="county">
                        <label class="form-check-label" for="county-x">Amt</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="x" id="five-x" value="five">
                        <label class="form-check-label" for="five-x">5 års aldersgrupper</label>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- choose y variable-->
    <div class="row g-0 border-bottom">
        <div class="col-3 border-end">
            <div class="card-body">
            Vælg en Y variabel
            </div>
        </div>
        <div class="col-9">
            <div class="card-body" id="choose-y-variable">
                <!-- <div style="display:flex">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="gender-y" value="gender" disabled>
                        <label class="form-check-label" for="gender-y">Køn</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="status-y" value="status" disabled>
                        <label class="form-check-label" for="status-y">Ægteskabelig status</label>
                    </div> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="migrant-y" value="migrant" disabled>
                        <label class="form-check-label" for="migrant-y">Migranttype</label>
                    </div> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="location-y" value="location" disabled>
                        <label class="form-check-label" for="location-y">Bostedstype</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="county-y" 
                        value="county" disabled>
                        <label class="form-check-label" for="county-y">Amt</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="y" id="five-y" 
                        value="five" disabled>
                        <label class="form-check-label" for="five-y">5 års aldersgrupper</label>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- choose z variable-->
    <div class="row g-0">
        <div class="col-3 border-end">
            <div class="card-body">
            Vælg en Z variabel
            </div>
        </div>
        <div class="col-9">
            <div class="card-body" id="choose-z-variable">
            <!-- <div style="display:flex">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="gender-z" value="gender" disabled>
                    <label class="form-check-label" for="gender-z">Køn</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="status-z" value="status" disabled>
                    <label class="form-check-label" for="status-z">Ægteskabelig status</label>
                </div> -->
                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="migrant-z" value="migrant" disabled>
                    <label class="form-check-label" for="migrant-z">Migranttype</label>
                </div> -->
                <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="z" id="location-z" value="location" disabled>
                <label class="form-check-label" for="location-z">Bostedstype</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="county-z" 
                    value="county" disabled>
                    <label class="form-check-label" for="county-z">Amt</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="five-z" 
                    value="five" disabled>
                    <label class="form-check-label" for="five-z">5 års aldersgrupper</label>
                </div>
            </div> -->
        </div>
    </div> 
    <!-- find out why the guide placement is whack without this seemingly redundant div end tag -->
    </div>
</div>