<div class="card mb-1">
    <div class="card-body text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chart-modal" id="pie-btn" style="display: visibility;">
                    Pie Chart
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" 
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="line-btn" style="display: visibility;">
                    Line Chart
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="bar-btn" style="display: visibility;">
                    Bar Chart
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="pyramid-btn" style="display: visibility;">
                    Population Pyramid
                </button>
            </div>
        </div>
    </div>
</div>