<div class="card mb-5">
    <div class="card-body text-center">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chart-modal" id="pie-btn" style="display: visibility;">
                    Cirkeldiagram
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" 
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="line-btn" style="display: visibility;">
                    Linjediagram
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="bar-btn" style="display: visibility;">
                    Søjlediagram
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#chart-modal" id="pyramid-btn" style="display: visibility;">
                    Befolkningspyramide
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#list-modal" id="list-btn" style="display: visibility;">
                    Sammentælling
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#county-modal" id="county-btn" style="display: visibility;">
                    Amtskort
                </button>
            </div>
        </div>
    </div>
</div>