<div class="mt-3">
    <h3>Grafer</h3>
    <button type="submit" class="btn btn-primary mb-2 btn-sm" id="reset-graph-choices" name="reset-graph-choices" value="reset-graph-choices">Nulstil variabel valg</button>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="abs-ratio" id="absolute" value="absolute" checked>
    <label class="form-check-label" for="absolute">Absolut</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="abs-ratio" id="ratio" value="ratio">
    <label class="form-check-label" for="ratio">Ratio</label>
</div>

<div class="card mb-1">
    <!--choose x variable-->
    <div class="card-header text-center">
        Vælg en X variabel
    </div>
    <!-- <div class="row g-0 border-bottom">
        <div class="col-1 border-end">
            <div class="card-body">
                <strong>X variabel</strong>
            </div>
        </div>
        <div class="col-11"> -->
    <div class="card-body" id="choose-x-variable">
        <!-- <div class="row border" > -->
        <!-- js function inserts choices here -->
        <!-- </div> -->
    </div>
        <!-- </div>
    </div> -->
    <!-- choose y variable-->
</div>
<div class="card mb-1">
    <div class="card-header text-center">
        Vælg en Y variabel
    </div>
    <!-- <div class="row g-0 border-bottom">
        <div class="col-1 border-end">
            <div class="card-body">
                <strong>Y variabel</strong>
            </div>
        </div>
        <div class="col-11"> -->
            <!-- <div class="row"> -->
                <div class="card-body" id="choose-y-variable">    
                <!-- js function inserts choices here -->
                </div>
            <!-- </div> -->
        <!-- </div>
    </div> -->
    <!-- choose z variable-->
    <!-- <div class="row g-0">
        <div class="col-2 border-end">
            <div class="card-body">
            Vælg Z var (ikke implementeret)
            </div>
        </div>
        <div class="col-10">
            <div class="card-body" id="choose-z-variable">
            <div style="display:flex">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="gender-z" value="gender" disabled>
                    <label class="form-check-label" for="gender-z">Køn</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="status-z" value="status" disabled>
                    <label class="form-check-label" for="status-z">Ægteskabelig status</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="migrant-z" value="migrant" disabled>
                    <label class="form-check-label" for="migrant-z">Migranttype</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="z" id="location-z" value="location" disabled>
                <label class="form-check-label" for="location-z">Bostedstype</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="county-z" 
                    value="county" disabled>
                    <label class="form-check-label" for="county-z">Amt</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="z" id="five-z" 
                    value="five" disabled>
                    <label class="form-check-label" for="five-z">5 års aldersgrupper</label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- find out why the guide placement is whack without this seemingly redundant div end tag
    </div> -->
</div>