
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Guide</h5>
        <p class="card-text">Du kan bruge søgefunktionen til at filtrere dataene ved at vælge det ønskede datasæt og de variable, du vil søge i. Hvis du vil se det fulde datasæt, behøver du ikke at bruge et filter. Du kan vælge op til to variable at søge efter eller ekskludere en variabel ved hjælp af inkluder- eller ekskluderfunktionen.</p>
        <p class="card-text">For at sortere (???) søgeresultaterne kan du markere de variable, du ønsker at se, og vælge antallet af søgeresultater baseret på dit behov.</p>
        <p class="card-text">Brug graferne til at visualisere søgeresultaterne. Vælg de relevante grafiktyper, der passer til dine variable. Prøv at eksperimentere med variablerne som både x- og y-akse for at opnå den bedste visualisering af dataene. Du har også mulighed for at downloade graferne i [indsæt format].</p>
    </div>
</div>





 



 

