{% extends "base/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% load data_tags %} 
{% block title %}Search{% endblock title %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock extra_css %}

{% block content %}

<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/chartInterface.js' %}"></script>
<script src="{% static 'js/myCharts.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
            <form method="get" id="query-form">

            <!-- buttons for choosing year -->
            {% include "search/year_choice.html" %}

            <!-- search fields  -->
            {% include "search/search_fields.html" %}

            </form>

            <!-- showing checkboxes for displaying fields (if we have a actually performed a search/gotten a page_obj) -->
            {% if page_obj %}

                {% include "search/results_display_options.html" %}

            {% else %}

                <script>
                    sessionStorage.clear()
                </script>

            {% endif %}
            
            <!-- only show results and graph interface if we have a actually performed a search/gotten a page_obj-->
            {% if page_obj %}

                {% include "search/search_results.html" %}
                
                {% include "search/search_results_pagination.html" %}
                
                <!-- chart interface starts here-->
                {% include "search/chart_variables.html" %}
                <script>
                    displayAllChartVariableChoices("{{year}}")
                </script>
            
                <!-- buttons for choosing a chart type -->
                {% include "search/chart_type_buttons.html" %}

                <!-- popup/modal for showing and downloading chart-->
                {% include "search/chart_modal.html" %}
            
            {% endif %}
            
        </div>
        <div class="col-3">
            
            <!-- Guide on how to use the page -->  
            {% include "search/guide.html" %}

        </div>
    </div>
<!-- first row ends here -->
</div>
<!-- first container ends here -->

<script type="text/javascript">
  
    keepUserInput("{{year}}", "{{search_category_1}}", "{{query_1}}", "{{search_category_2}}", "{{query_2}}", "{{combine}}");

    keepFieldCheckboxInput("{{year}}", "{{submit_elm}}")

    handleResultsPerPage("{{results_per_page}}")

    setFilterResetButton()

    var toolTipList = getToolTipList()
    
    updateGraphInput("{{year}}")
    recallGraphInput()
    recallDisabledGraphButtons()
    setGraphResetButton()
    showChart()
    
</script>

{% endblock content %}
