<!-- <div class="row justify-content-center">
    <div class="col-auto">
        <label class="btn btn-secondary btn-lg year-option">
            <input type="radio" name="year" id="1801" value="1801" required checked> 1801
        </label>
        <label class="btn btn-secondary btn-lg year-option">
            <input type="radio" name="year" id="1850" value="1850"> 1850
        </label>
        <label class="btn btn-secondary btn-lg year-option">
            <input type="radio" name="year" id="1901" value="1901"> 1901
        </label>
    </div>
</div> -->

<div class="col-3">
    <h5>Folketællingsår</h5>
    <div>
        <label class="btn btn-secondary year-option">
            <input type="radio" name="year" id="1801" value="1801" required checked> 1801
        </label>
    </div>
    <br>
    <div>
        <label class="btn btn-secondary year-option">
            <input type="radio" name="year" id="1850" value="1850"> 1850
        </label>
    </div>
    <br>
    <div>
        <label class="btn btn-secondary year-option">
            <input type="radio" name="year" id="1901" value="1901"> 1901
        </label>
    </div>
</div>


